[2019-07-01 02:27] mathisonian opened #541 "P5JS Support"
**Is your feature request related to a problem? Please describe.**
I'd like to support a streamlined workflow for embedding Processing/P5 sketches in idyll documents.

**Describe the solution you'd like**
Ideally it would look something like this:

[code]

There is some initial support for this type of workflow in this plugin: https://github.com/idyll-lang/idyll-plugin-runscripts/, but it currentl

[2019-07-02 04:09] joshuahhh opened #542 "Exclamation mark at the end of a paragraph removes paragraph break"
**Describe the bug**
If you end a paragraph with an exclamation mark ("!"), it becomes merged into a single paragraph with the following paragraph.

**To Reproduce**
1. Create the default Idyll project (with `idyll create`).
2. Replace the period at the end of the first paragraph with an exclamation mark (so it reads "inside of this directory!")
3. Run `idyll watch` and take a look at the output i

[2019-07-02 04:31] joshuahhh opened #543 "Where are commit-message guidelines?"
When you create a PR on Idyll, the template asks you to check that "The commit message follows our guidelines". However, the "[Contributing](https://github.com/idyll-lang/idyll/blob/master/CONTRIBUTING.md)" link (on the right) does not offer any information on these guidelines.

I think that either guidelines should be added to the Contributing page, or this checkbox should be removed.

Thanks!

[2019-07-02 23:55] mathisonian commented on #543
Thanks for pointing that out, I've removed the checkbox from the PR template. I don't think we need to police commit logs, they are usually reasonable.

[2019-07-02 23:55] #543 closed

[2019-07-03 01:11] amitbadala commented on #492
1. What will be the flow if the user wants to use some option from its parent package.json and few options which will be specific to that particular project?
@mathisonian

[2019-07-03 04:23] #522 closed

[2019-07-04 04:32] amitbadala opened #545 "Add lerna test commands to husky pre-push"
**Is your feature request related to a problem? Please describe.**
Sometimes after making changes, we forget to run _lerna run test_ before pushing it and see our build fail on the git, which eventually leads to wastage of time and extra commits.

**Describe the solution you'd like**
We can add _prepush_ command in husky which will run the Lerna test command every time before any push command is e

[2019-07-04 04:32] amitbadala commented on #545
@mathisonian what would you suggest?

[2019-07-04 16:19] mathisonian commented on #492
I think ideally both of those package.json would be read when idyll is invoked and the child package.json would take precedence.

So the order of precedence would be:
- command line flags (highest priority)
- local package.json
- package.json higher in the tree

[2019-07-07 04:48] #533 closed

[2019-07-07 06:37] amitbadala commented on #491
@mathisonian could you elaborate?

[2019-07-08 19:53] mathisonian commented on #491
So some people prefer to name their components like `my-component.jsx` rather than `my-component.js` if they are using React's JSX syntax in those component files, however if you try to do this now, you'll get a "component not found error" when trying to use that `my-component.jsx` file.

To fix, we'll have to update the component resolver to be able to handle `.jsx` files. I believe the culprit f

[2019-07-08 19:54] mathisonian commented on #545
I'm in favor of this change 👍

[2019-07-08 21:04] amitbadala commented on #545
cool then !!

[2019-07-08 22:37] #535 closed

[2019-07-09 19:01] mathisonian commented on #531
Closed in #549

[2019-07-09 19:01] #531 closed

[2019-07-09 19:04] mathisonian commented on #421
The `idyll create` command can now be used to create a multipage (blog, book, etc) project. To do this simply select "multipage" as the template when running the command. I'm closing this issue sense there's a canonical way of doing this now.

[2019-07-09 19:04] #421 closed

[2019-07-09 19:04] #545 closed

[2019-07-11 08:10] amitbadala commented on #491
@mathisonian I tried reproducing.

1. Added _my-component.jsx_ file
2. Exported as _MyComponent_
3. Accessed that particular component in Idyll project using ```[MyComponent/]```
4. Also imported my-component into another component with js extension.

Didn't receive an error. Am I doing something wrong here?

[2019-07-11 19:20] mathisonian commented on #491
Do you possibly have a copy of the file still saved as `my-component.js`? What OS are you using?

I wouldn't expect that to work! 👻

[2019-07-12 05:55] amitbadala commented on #491
Just to be sure I had tried it with three different component names.
OS / node = Linux / 12.1.0

[2019-07-12 07:21] amitbadala commented on #509
For this, we need to share the state between [Refernces /] and [Cite /]
Was thinking of using Context in React for the same, what do you think @mathisonian?

[2019-07-12 18:23] amitbadala opened #559 "Create presentations with idyll"
**Is your feature request related to a problem? Please describe.**
What if we could add features in such a way that users can create presentations using idyll. Presentations created using Idyll will be interactive, unlike traditional ones.

**Describe the solution you'd like**
We could use carousel property to achieve similarity to traditional presentations.

**Describe alternatives you've conside

[2019-07-12 18:37] amitbadala opened #560 "Add Iframe component."
**Is your feature request related to a problem? Please describe.**
Iframes are good for reference, for eg: users can embed _codpen_  links.

**Describe the solution you'd like**
Add an Iframe component

**Describe alternatives you've considered**

**Additional context**

[2019-07-12 18:45] mathisonian commented on #559
Hey @amitbadala, this is something I'd like to add! I think the best way to go about it would be to make a new template for presentations.

I actually have an Idyll based-presentation that we can deconstruct to use as a starting point. It was made for a private project so I need to spend a little time removing info first.

[2019-07-12 18:47] mathisonian commented on #560
Since iframe is a standard HTML tag, the following code already works:

[code]

[2019-07-12 19:13] mathisonian commented on #509
Where would you put the context provider in that case?

[2019-07-12 19:15] mathisonian commented on #509
I guess you could also put everything in a `cite.js` file and export two separate components:

[code]

[2019-07-12 20:57] amitbadala commented on #560
Ok!

[2019-07-12 20:57] #560 closed

[2019-07-12 21:58] amitbadala commented on #559
lmk how can I help, would love to work on this.

[2019-07-15 22:41] Harmon758 opened #561 "Security vulnerability in mem dependency"
The version of yargs being used has a mem dependency with a security vulnerability:
https://github.com/sindresorhus/mem/issues/14 (Fixed with https://github.com/sindresorhus/mem/commit/da4e4398cb27b602de3bd55f746efa9b4a31702b / https://github.com/sindresorhus/mem/pull/19)
https://github.com/sindresorhus/os-locale/pull/31
https://github.com/yargs/yargs/issues/1209 (Fixed with yargs>=12.0.2: https:/

[2019-07-16 01:47] mathisonian commented on #561
I haven't seen a security alert for this yet - we released a dependency update a few days ago (https://github.com/idyll-lang/idyll/pull/558) is it possible this is already fixed in the latest?

[2019-07-16 18:50] mathisonian commented on #559
I've just pushed the rough presentation I had set up to https://github.com/mathisonian/idyll-slideshow-draft.

I'd check out that repo and play around with it a bit, you'll see its very bare bones but is a good start. I think we'll want to make sure there are reasonable default styles and that things work okay on mobile

[2019-07-16 20:53] #357 closed

[2019-07-16 21:42] mathisonian opened #563 "Scrollytelling template"
**Is your feature request related to a problem? Please describe.**
As we're adding more templates (basic post, blog, slideshow, ...) it would be nice to include one that makes it easy to get started with a "scrollytelling" project. @megan-vo's [example](https://idyll.pub/post/stack-scroll-0c3da7fb8e45f3ecb720bcf8/) would probably be a good place to start (src [here](https://github.com/megan-vo/sta

[2019-07-16 22:55] mathisonian opened #565 "Improve the mobile experience of idyll-lang.org"
**Is your feature request related to a problem? Please describe.**
The documentation (https://idyll-lang.org) is not super mobile friendly right now. While you can navigate around, some pages (in particular the [gallery](https://idyll-lang.org/gallery)) could really use some help.

**Describe the solution you'd like**
Update the CSS and JS as necessary to improve the mobile experience.

[2019-07-16 23:07] suhr opened #566 "Idyll replaces an equation with a duplicate"
The index.idyll: https://gist.github.com/suhr/ad0d710c8f2f02fe710fe31598d5b4db

Idyll output: ![2019-07-17-020052_1920x1080_scrot](https://user-images.githubusercontent.com/65870/61335745-4d983880-a837-11e9-9008-cea502a8bffb.png)

Expected output: the third equation should be `x = x`.

Tried: `idyll clean` and removing the `build` dir, using a different browser.

[2019-07-16 23:16] mathisonian commented on #566
This appears to be a bug with how the client-side runtime is interpreting the initial AST and HTML that the compilation process sends to the browser.

I've noticed that if you run with server-side rendering turned off (`idyll --no-ssr`) the issue disappears. This indicates that the issue is likely in the `idyll-document` package which is loaded in the client.

[2019-07-17 01:22] mathisonian commented on #566
Fixed in https://github.com/idyll-lang/idyll/pull/567

[2019-07-17 01:22] #566 closed

[2019-07-17 01:25] mathisonian commented on #566
I just published a new release, the fix is available in `idyll@4.6.0`.

[2019-07-17 11:53] suhr opened #568 "Parse error when using an alias"
[code]

index.idyll: https://gist.github.com/suhr/dee5663f5cc6814e26928b42b7343929

package.json: https://gist.github.com/suhr/0a8e53901ad611e9a34e15e8a8109140

[2019-07-17 21:38] mathisonian commented on #568
The compiler has some special cases for `[Equation]` tags to make sure that the code contained within isn't parsed as normal Idyll markup. We need to update these to take into account aliases to prevent the issue that @suhr is seeing. The compiler will need to be made aware of aliases and generate equivalent equation rules for them.

See relevant code [here](https://github.com/idyll-lang/idyll/blo

[2019-07-18 13:46] Harmon758 commented on #561
Resolved by https://github.com/idyll-lang/idyll/commit/8610555bedc07a9313b6e67a3451aa618e488e2d (#562) in idyll@4.6.0.

[2019-07-18 13:46] #561 closed

[2019-07-24 12:55] suhr opened #572 "Sublime syntax highlighting"
There seems to be no syntax highlighting plugin for sublime text.

[2019-07-30 14:10] michaltakac commented on #136
If we'd use `$$...$$` and `$...$` syntax, we can then add dynamic variable parsing inside it and that could look like this:

[code]

I'm currently playing around with this idea.

[2019-07-30 15:23] michaltakac commented on #314
@mathisonian I've started working on this here https://github.com/idyll-lang/idyll/pull/573, tests pass but so far haven't succeeded in testing this manually inside new idyll project/document - adding `$$y=0$$` somewhere in text does nothing.

[2019-07-30 17:00] rollaball commented on #509
@mathisonian can I take on this issue?

[2019-07-30 17:38] mathisonian commented on #509
@rollaball yes! This one will be very useful for people writing technical articles in idyll

[2019-07-30 18:39] michaltakac commented on #314
Wouldn't `[$...$]` and `[$$...$$]` be better instead of `$...$` and `$$...$$`? That way it works beautifully :) but it's just me battling with the regex :D.

[code]

![Screen Shot 2019-07-30 at 14 37 27](https://user-images.githubusercontent.com/6513576/62155754-b2dc3700-b2d7-11e9-8d3f-6105a685e021.jpg)

[2019-07-30 19:20] mathisonian commented on #314
Thanks for the work on this @michaltakac! Also saw your comment on #314, I think that would be awesome to add - we should discuss syntax for that as well. I'm totally in favor of getting changes in to improve the equation/latex experience, but it will probably will be a couple days before I can do a close review.

A tale as old as time.

Arguments for `[$$...$$]` vs `[$$]... [/$$]` to keep things

[2019-07-30 19:30] michaltakac commented on #314
Feeling that `[$]...[/$]` and `[$$]...[/$$]` would suit Idyll better - basically it would be a syntactic sugar for `[equation /]`.

[2019-07-30 21:54] rollaball commented on #509
We will need to maintain the context state in the parent for this as putting them in the same file still won't make it possible for them to share their states.
Would that be the right approach?

[2019-07-30 23:24] mathisonian commented on #509
I still think it would be easiest to keep them in the same file.

Something like:

[code]

(this code is just a sketch)

[2019-07-30 23:52] rollaball commented on #509
So the problem here would be, as the citation is not being passed as a prop and it is also not inside the state, the references component won't rerender when a new citation is added. So the references would take empty citations array.

[2019-07-31 00:40] mathisonian commented on #509
Ah you're right, above would just work if you assume static citations with references at the end of the article. A relatively clean fix for this might be to add a custom setter method on the citations object and force an update on any reference components after a new citation info is added.

I'm pushing for the 1-file option to keep components as self-contained as possible, which I think makes the

[2019-07-31 18:05] rollaball commented on #317
So will this data be loaded during component mount or in the build phase?

[2019-07-31 19:25] mathisonian commented on #317
The idea is that data would be loaded during the mount. The `[data /]` tag as it is currently implemented brings data in during the build phase, but in certain cases (e.g. with some larger data sets) this becomes a performance issue. So to implement this we'd need to add functionality to the `idyll-runtime` to check for any async requests that need to be made and carry those out.

We would also ne

[2019-07-31 19:26] mathisonian commented on #317
As @manjhawar96 pointed out - there is the issue of initial data -- I think this should be user specifiable but we should think through what a reasonable default would be (`undefined`? `null`? `[]`?).

[2019-08-01 21:55] suhr opened #576 "Idyll doesn't render an equation"
- Command: `idyll watch  --no-ssr --no-open`.
- Source code: https://github.com/suhr/antiscale

Idyll output:

[code]

Expected output: rendered equation with cases.

[2019-08-02 05:34] rollaball commented on #317
If we do pick undefined or null, the components might need to be updated to handle this.
I think user specified or empty array/object might be a good choice.

[2019-08-02 17:23] mathisonian commented on #317
That's a good point @rollaball - I think empty array as the default with an optional `initalValue` param would work well

[2019-08-02 18:19] rollaball commented on #317
I get the following error in idyll-cli tests when I try to import `csv-parse` in the idyll-document.
[code]
Any idea why this might be happening?

[2019-08-03 12:08] suhr commented on #314
`[$ $]` is easier to type than `[$][/$]`. Both are surely better than `$ $`, because it won't accidentally parse something as an equation.

Note that there's also other latex syntax: `\( \)` for inline equations and `\[ \]` for block equations.

[2019-08-05 21:46] rollaball commented on #563
@mathisonian
Is [this](https://idyll.pub/post/test-post-a3ddd0fc526528f361ffd092/) what we are looking for here?
What should be changed here??

[2019-08-06 01:24] mathisonian commented on #576
Closed in #579

[2019-08-06 01:24] #576 closed

[2019-08-06 02:53] rollaball commented on #509
Added in #575

[2019-08-06 02:53] #509 closed

[2019-08-06 02:53] rollaball commented on #504
fixed in #578

[2019-08-06 02:53] #504 closed

[2019-08-06 02:54] rollaball commented on #486
fixed in #574

[2019-08-06 02:54] #486 closed

[2019-08-07 18:38] mathisonian commented on #563
Yes that is looking good!

Could you add a second scroller, so it is clear how they can be "stacked"? For the second one maybe just use a different solid back background color rather than a fixed graphic.

[2019-08-07 18:55] declann opened #582 "idyll-document datasets prop ineffective"
Hi,

Excellent work on Idyll.

I am trying to integrate it in React and I'm running into an issue passing datasets in using the datasets prop. I've found no documentation on this, so I gave it a stab passing an object literal like `{ dataset: [ {d1: ...,...} ] }`

I did minimal debugging and saw that the prop is used here in a call to getData:
https://github.com/idyll-lang/idyll/blob/master/packag

[2019-08-07 19:58] mathisonian commented on #582
Hey @declann,

You can pass in datasets as an object with the keys referring to the data `name` and the value being the parsed value of the dataset. For example, if I include in the markup

[code]

then the datasets prop will be populated as `{ myData: [{"x": 1, "y": 2}, {"x": 3, "y": 5}] }`.

This should be better documented, I'll make an issue to update the docs and the `idyll-document` README.

[2019-08-08 18:47] rollaball commented on #541
So I have created a custom script component that adds the given script to `document`.
Then I am adding the p5js scripts from the `idyll-plugin-runscript` using this custom script component. And this seems to get the script to work on ssr and csr.

Could you explain the approach you mentioned before a bit more?

[2019-08-11 18:09] declann commented on #582
I have this working now, thanks for the speedy response @mathisonian !

[2019-08-11 18:09] #582 closed

[2019-08-12 23:26] mathisonian commented on #541
It sounds like what you have is in the right direction. What are the specific issues that you are running into? The setup that I was imagining is:

1) there is a plugin which reads in code snippets like the above during compile time, and serializes to disk an idyll component which includes all of the boilerplate for embedding P5.js, along with the custom code that the user provided; This functiona

[2019-08-12 23:59] rollaball commented on #541
These seem to answer most of my questions.
You mentioned something about adding this flow to the compile pipeline. Could you explain that?

[2019-08-13 00:14] mathisonian commented on #541
Ah yeah, so as it stands, if a component is created/serialized during the compile process it won't be available until the next time idyll runs because of the way that component loading happens now.

This is because the component resolver builds a map of available components when it is instantiated (https://github.com/idyll-lang/idyll/blob/master/packages/idyll-cli/src/index.js#L89) but when trying

[2019-08-13 06:51] mathisonian commented on #389
I'd be in favor of adding this as

[code]

to avoid clashing with the existing markdown list syntax.

[2019-08-13 06:55] mathisonian opened #584 "Adopt a more HTML/JSX-like component sytax?"
Idyll's component syntax was originally designed so it would be familiar to users who were comfortable with component embed tags used in content management systems, but I worry it may prevent a learning barrier to a group of potential users who are already familiar with HTML.

[code]

With a few small tweaks we could change the Idyll compiler to match an HTML/JSX-like syntax. Would people be inter

[2019-08-13 06:57] #317 closed

[2019-08-19 11:58] #563 closed

[2019-08-19 17:00] rollaball commented on #541
It would be better to use instance mode instead of global mode as we will be having multiple p5 scripts
so the syntax would look something like this
[code]

https://github.com/processing/p5.js/wiki/p5.js-overview#instantiation--namespace

[2019-08-21 05:57] rollaball commented on #541
@mathisonian let me know if I should go ahead with this.

[2019-08-21 06:22] #568 closed

[2019-08-22 14:21] rollaball commented on #389
One way to implement this would be to add a lexer rule to generate separate `var` components for every variable in the given line.
This would mean there is no need for any change in runtime.
Would this be the right way or should this be handled in runtime separately?

[2019-08-22 20:21] mathisonian commented on #541
@rollaball - is it possible to wrap this logic for users? E.g. - they write something like --

[code]

and behind the scenes we translate that into:

[code]

[2019-08-22 21:57] mathisonian commented on #389
That seems like the right way to me @rollaball. We would want to leave the AST/Runtime untouched if possible and just have this change impact the compiler.

[2019-08-22 22:13] rollaball commented on #541
If it was just `setup` and `draw` it would have been fine but all the p5 functions and variables also need to have its instance object which would turn functions like `createCanvas` to `p.createCanvas`.
We could deconstruct the object but we don't know which functions will be used.
[code]

[2019-08-22 23:34] mathisonian commented on #541
I think there may be a way to use the approach that is used [in the runtime to solve this issue](https://github.com/idyll-lang/idyll/blob/master/packages/idyll-document/src/utils/index.js#L138-L148), namely using `eval()` to force a particular context.

Then we end up with something like:

[code]

I don't think there are any security issues in this case since this is user provided code that is exp

[2019-08-22 23:34] mathisonian commented on #541
More info on this technique to inject a context here: https://stackoverflow.com/questions/8403108/calling-eval-in-particular-context

[2019-08-22 23:42] mathisonian commented on #541
But its possible that this is just over complicating the issue. In that case I think

[code]

is a good fallback

[2019-09-18 16:12] mathisonian opened #589 "Expose scroll progress option"
**Is your feature request related to a problem? Please describe.**
Currently the `Scroll` component allows users to trigger updates each time a waypoint is hit, however there is no way to control a variable continuously based on how far into a step the user is.

**Describe the solution you'd like**
The component should expose a `progress` parameter that utilizes scrollama's `onStepProgress` option

[2019-10-14 15:27] TomBor opened #593 "Delete prefix to author in header component"
**Is your feature request related to a problem? Please describe.**
The prefix "By:" to the author property in header component is useful when you write in english but for other language it's a problem.

**Describe the solution you'd like**
Delete the prefix or add a new property to overwrite a default prefix.

[2019-10-14 19:55] mathisonian commented on #593
Thanks for pointing this out @TomBor. I agree this is an issue and we shouldn't assume the output is English. A similar problem will occur when multiple author names are provided (they are joined with the english word "and").

[2019-10-18 14:33] jprask commented on #593
Hey @mathisonian, I could work on this. We could add a `bylineTemplate` prop that overrides the defaults, i.e.

[code]
for `Authors: A - B - C`

A fancier approach could use a render prop, so the template would be a function that gets the authors array and outputs some jsx.

[2019-10-18 22:36] mathisonian commented on #593
That makes sense to me @jprask! I think we'd want both a `join` option and a terminating join, e.g. in the case of `A, B, and C`.

A function seems like maybe overkill, but we could always do a typecheck in the component to see if an object or a function is passed, and handle accordingly.

[2019-10-27 18:08] Harmon758 opened #595 "Security vulnerability in braces dependency"
The version of findup-sync being used has a braces dependency with a security vulnerability:
[code]
https://www.npmjs.com/advisories/786

Dependency hierarchy:
[code]

[2019-11-17 17:06] thSoft opened #596 "Persist variables"
**Is your feature request related to a problem? Please describe.**
The value of variables reset to the default value when the page is reloaded or the browser unexpectedly crashes. When the document is a longer explorable explanation, it might be desirable that they be preserved since they are the result of the user's interaction that should not be lost.

**Describe the solution you'd like**
Introd

[2019-11-19 00:54] mathisonian commented on #596
@thSoft there is a version of this with https://github.com/idyll-lang/idyll-plugin-url-state, though it is limited according to what can be persisted via a query string. It might be a good jumping off point to consider other back-ends, e.g. localstorage.

[2019-11-21 22:25] thSoft commented on #596
Great, this might be a good approach, thanks!

[2019-11-28 20:46] jprask opened #600 "Header component byline not applying template (By: , and)"
**Describe the bug**
By line does not apply prefix, suffix & joint when authors array is provided & author has no link.

**To Reproduce**
For example, the following code

[code]

will render this:

![image](https://user-images.githubusercontent.com/28638133/69830805-3c0f6600-1205-11ea-863b-56b127ebdfe0.png)

**Expected behavior**
It should join the authors with a comma, and add the word `and` befo

[2019-12-26 18:07] RakeshUP commented on #572
@mathisonian, I have done the syntax highlighting plugin for sublime text
Can you create a new repo in idyll-lang, to which I'll push the plugin?
And after you review it, I will raise a release request in Sublime package control.
Or shall I create a repo in idyll-lang?

[2019-12-29 19:00] mathisonian commented on #572
That's great @RakeshUP!

I made a repo for it here: https://github.com/idyll-lang/idyll-sublime-syntax-highlighter

If you push what you have to that repo now, I'll leave comments there, and you can cut the release.

[2019-12-30 17:45] RakeshUP commented on #492
@mathisonian, Is it good enough that we search through parent folders to find 1 package.json apart from the local package.json that contains idyll key?
Because yarn seems to search the parent directories till /Users, but npm shorts when it finds directory containing node_modules folder.

[2019-12-30 22:57] mathisonian commented on #492
@RakeshUP yes, that should be sufficient!

[2019-12-30 23:17] #491 closed

[2019-12-31 21:26] #589 closed

[2020-01-02 05:49] jbixon13 commented on #494
@mathisonian I've replicated a lot of distill.pub's templating and have started locally developing an idyll theme for it; what is the best way to understand how css classes are used within idyll templates?

I'm using the default template as a starting point but it's difficult to tell how each class is used within an article and how to convert what I've built to fit within that. For example, distil

[2020-01-07 09:34] #542 closed

[2020-01-08 02:15] #593 closed

[2020-01-08 05:42] #559 closed

[2020-01-09 05:54] RakeshUP commented on #235
@mathisonian, AFAIK this issue is caused by the source order of HTML. A `position: absolute` element is removed from the flow of the document and the next sibling takes its place. So an Aside element always aligns with the next paragraph.

We could maybe implement a Multi-column component to address these kinds of workflows?

[2020-01-09 06:25] RakeshUP commented on #572
@mathisonian, The Idyll-syntax highlighter has released in Sublime Package Control Repo!
It is named Idyll-syntax.
Can we close this issue?

cc/ @suhr

[2020-01-10 12:38] RakeshUP commented on #541
Hey @mathisonian, I have made a separate plugin for P5 support.
[https://github.com/RakeshUP/idyll-plugin-p5](https://github.com/RakeshUP/idyll-plugin-p5)
I am still working on it. As of now, it would serialize a new component for each block of p5js code in idyll and it's rendering p5 sketch.

But I am not sure how to proceed with Idyll reactive variables. Like how would the syntax look like for i

[2020-01-22 17:33] jbixon13 commented on #494
@mathisonian any feedback on these points?

[2020-01-22 21:49] mathisonian commented on #494
Hey @jbixon13 thanks for the poke and your patience on this.

In Idyll **themes** and **layouts** are CSS-only concepts that don't touch the actual HTML of the page. When you run `idyll`, a CSS file will be generated that is the concatenation of the `layout` CSS, the `theme` CSS, and any user-provided CSS. The rule of thumb is that style rules which deal with aesthetics like fonts, colors, etc go

[2020-01-29 21:17] jbixon13 commented on #494
Thank you for the detailed answers! I won't be able to give this too much time at the moment but I will think over your feedback for when I can make some progress on it.

I do think your second approach (superficial changes in a theme, then creating a new component to accommodate structural changes) makes the most sense to me.

One other thing that may complicate things is how media queries are ha

[2020-02-07 23:57] mathisonian commented on #494
Sounds good @jbixon13!

In Idyll's CSS we start with the desktop and transform to a smaller grid in the CSS queries. So, there may be a little bit of friction there, but I would imagine not too much if you're overriding many of the existing CSS rules anyway.

[2020-02-12 06:41] mathisonian opened #612 "Consistent CSS class naming"
**Describe the bug**

The components defined by [idyll-components(https://github.com/idyll-lang/idyll/tree/master/packages/idyll-components/src) declare CSS class names for components, which are then matched to queries in the [theme](https://github.com/idyll-lang/idyll/tree/master/packages/idyll-themes/src) and [layout](https://github.com/idyll-lang/idyll/tree/master/packages/idyll-layouts/src).

[2020-02-12 06:47] mathisonian commented on #600
Hey @jprask is this still an issue? If you have a draft of something I'd be happy to review.

[2020-02-12 06:54] mathisonian commented on #612
It would be good to get this in with v5, since it will be a breaking change.

[2020-02-12 22:16] mathisonian commented on #595
Fixed by #613.

[2020-02-12 22:16] #595 closed

[2020-02-12 22:17] mathisonian commented on #596
@thSoft did you ever end up trying this out? I'd like to make a localstorage plugin at some point, wondering if you have any code you've been working with.

[2020-02-12 22:19] mathisonian commented on #565
Closing this as #592 solves a lot of the problems (thanks @jprask!). We can open specific issues as they come up.

[2020-02-12 22:19] #565 closed

[2020-02-18 15:46] jprask commented on #600
Looking into it...

[2020-02-19 21:42] thSoft commented on #596
Unfortunately currently I don’t have time to investigate this, but both approaches seem fine. Persisting data in the URL has the advantage of being easily shareable, however the data that could be persisted can be more limited.

2020. febr. 12. dátummal, 23:17 időpontban Matthew Conlen <notifications@github.com <mailto:notifications@github.com>> írta:

[2020-02-21 16:45] apellis opened #614 "Project templates include bare URL that idyll compiles to a 404 link"
**Describe the bug**
The four template pages

-   packages/idyll-template-projects/templates/article/index.idyll
-   packages/idyll-template-projects/templates/multipage/posts/post-1/index.idyll
-   packages/idyll-template-projects/templates/multipage/template/index.idyll
-   packages/idyll-template-projects/templates/scrollytelling/index.idyll

each contain a bare URL pointing to the idyll docs.

[2020-02-22 19:43] mathisonian commented on #614
Fixed by #615

[2020-02-22 19:43] #614 closed

[2020-02-22 19:46] #600 closed

[2020-02-26 04:28] mathisonian opened #617 "Issue with global version reporting"
**Describe the bug**
When running `idyll --version` in a directory outside of an idyll project, I see this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest `idyll` globally (`npm i -g idyll@latest`)
2. Navigate to a folder that does not contain an idyll project
3. Run `idyll --version`
4. See error

**Expected behavior**
The correct version should be printed.

[2020-03-04 13:07] lcyraphael opened #618 "Minor CSS issue with fixed graphic in scroller"
**Describe the bug**
There's some extra whitespace in the right margins in the scrollytelling template. This introduces a horizontal scroll bar across the whole page which shouldn't be there.

**To Reproduce**
Steps to reproduce the behavior:
1. `idyll create`
2. Pick scrollytelling
3. `idyll`

**Expected behavior**
Some overflowing margin on the right, which I think is caused by the fixed graphic

[2020-03-06 19:56] mathisonian commented on #517
This one should definitely be added: https://ateliercartographie.github.io/BR163/

[2020-03-18 15:14] sietse opened #620 "idyll-lang.org website: early Google Analytics tag breaks entire website rendering when www.google-analytics.com fails to load"
This issue pertains to the idyll-lang.org website. I could not find a separate repository for that website. If this is the wrong place to report this issue, could you perhaps point me to the correct place to submit this issue? I apologize for the inconvenience.

### Steps to reproduce

1. Block the www.google-analytics.com domain. On Linux you can do this by editing /etc/hosts and adding the line

[2020-03-18 22:34] mathisonian commented on #620
Hi @sietse thanks for reporting this.

The code that adds the Google analytics to the docs site is here: https://github.com/idyll-lang/idyll/blob/master/packages/idyll-docs/components/analytics.js#L5-L9

We should add some error handling logic to ensure that this doesn't crash the page if the server can't be reached.

[2020-03-25 19:20] mathisonian opened #621 "Better documentation on use of HTML tags"
**Is your feature request related to a problem? Please describe.**
The docs should clearly expose how HTML tags can be used in Idyll markup, including how you can set class names and inline styles.

For example, you could write

[code]

**Describe the solution you'd like**
A new section in the docs, titled "using HTML tags" that includes the above info.

**Describe alternatives you've considered**

[2020-04-06 19:31] cesutherland commented on #584
:+1: I'm into this, but as a language feature not syntactic sugar — it'd be nice to be able to render off the shelf React components in idyll, similar to mdxjs.

[2020-04-22 04:55] mathisonian opened #628 "Components emit dirty markup"
**Describe the bug**
Some components emit markup like this: `div idyll="[object Object]">...` This happens due to using the `{...props}` syntax in the components' render functions.

**Expected behavior**
The HTML should not contain `idyll="[object Object]"`.

**To Reproduce**
Just look at any page made with idyll, the default project works fine.

[2020-04-22 05:04] mathisonian opened #629 "Modernize our JavaScript bundler."
**Is your feature request related to a problem? Please describe.**
Idyll is responsible for bundling multiple JavaScript files into one output script. Currently we rely on `browserify` to do the heavy lifting for this step, but the JavaScript community seems to be standardizing on other tools like `rollup` and `webpack` as the standard bundlers. It would be nice to consider the benefits of switchi

[2020-04-23 22:12] mathisonian opened #632 "Improve documentation for getting started with multipage template"
**Is your feature request related to a problem? Please describe.**
Currently the multipage template isn't the most user friendly; users have to read the local README file that gets generated in order to figure out how to do things like create new posts. There is no high-level guide that shows you how to get started quickly as was pointed. out in https://gitter.im/idyll-lang/Lobby?at=5ea21041568e52

[2020-04-25 18:48] mathisonian opened #634 "Aync datasets emit error messages, even when an initial value is provided"
**Describe the bug**
Consider the following example:

[code]

This will cause an error message to be logged that stateData is not defined, even though in this case `stateData` should be initially defined as `[]`.

The program still runs as expected.

[2020-04-27 22:45] robmctague opened #635 "Reference Error when using Vega Lite component"
Getting this reference error when trying to use vega lite component. I have updated to latest version of Idyll.

Uncaught ReferenceError: regeneratorRuntime is not defined
    at idyll_index.js:167997
    at idyll_index.js:168022
    at idyll_index.js:167979
    at Object.<anonymous> (idyll_index.js:167980)
    at Object.require.C:\Users\Robert.000\documents\idyll\my-idyll-post\node_modules\vega-l

[2020-04-29 16:51] jfilter opened #636 "Support IE11 (and other older browsers)"
**Is your feature request related to a problem? Please describe.**
Call me naive, but I really thought that Idyll would support IE11. It is still used by [over 5% of desktop users](https://www.netmarketshare.com/browser-market-share.aspx?options=%7B%22filter%22%3A%7B%22%24and%22%3A%5B%7B%22deviceType%22%3A%7B%22%24in%22%3A%5B%22Desktop%2Flaptop%22%5D%7D%7D%5D%7D%2C%22dateLabel%22%3A%22Trend%22%2C%

[2020-05-02 17:40] mathisonian opened #637 "Update babel packages to remove warnings."
**Describe the bug**
[code]

[2020-05-02 21:59] mathisonian commented on #635
I've opened a PR for this in #638. I believe this should be the last piece to getting the latest version of VegaLite working smoothly again with Idyll articles.

[2020-05-02 22:05] mathisonian commented on #636
Thanks for bringing this up @jfilter. I think the main culprits for the IE errors are coming from [here](https://github.com/idyll-lang/idyll/blob/master/packages/idyll-document/src/utils/index.js#L61-L113) where code is being dynamically generated, so it doesn't get transpiled.

At a quick glance there are two issues which will need to be updated to work with IE:
- Arrow functions
- Proxy objects

[2020-05-02 22:08] mathisonian commented on #618
Closing as this was fixed in #619

[2020-05-02 22:08] #618 closed

[2020-05-02 22:41] #635 closed

[2020-05-12 10:16] jarmitage commented on #346
Hi @mathisonian @eyeseast, any updates regarding this? Are you still eventually planning to make it possible to e.g. use Svelte with Idyll? Or has this already been happening elsewhere?

[2020-05-12 18:23] mathisonian commented on #346
Hey @jarmitage - this never really took off. I think the best short term solution would be to create a version that allows users to write svelte components while keeping the React runtime.

This wouldn't be optimal in terms of page size, but I don't think would be too difficult to implement and would probably be immediately useful for folks who prefer svelte. We'd need to update our compilation pi

[2020-05-12 19:50] jarmitage commented on #346
Thanks for the reply @mathisonian, that does makes sense. I would definitely find the short term solution you've proposed useful.

[2020-05-13 18:21] mathisonian commented on #346
Sounds good @jarmitage, thanks!

One thing that would really help since I'm not yet familiar with all of the ins and outs of svelte is what needs to be done in order to compile a svelte component from a `.svelte` file into JavaScript code which we can pass properties and attach to a DOM node.

[2020-05-13 18:31] jarmitage commented on #346
Yeah unfortunately I'm no expert either, but there might be some answers in the [Svelte Language Tools](https://github.com/sveltejs/language-tools) repo.

If I find anything else out I'll report back.

[2020-05-13 18:52] mathisonian commented on #346
Okay thanks @jarmitage! Maybe @eyeseast would also know something about this.

[2020-05-14 00:40] eyeseast commented on #346
Hi all. I fell off this a while ago. I still like the idea, but I haven't been able to dig into it. Svelte did a major rewrite shortly after this, which may or may not change how this would work. But I've been away from the idea for long enough that I'd really have to start from scratch to get anywhere. Sorry.

[2020-05-14 02:08] mathisonian commented on #346
Hey @eyeseast no worries thanks for the heads up.

I'm reaching out to the svelte folks now to learn a little bit more about the architecture and will post here as I find out more.

[2020-05-14 04:04] mathisonian opened #639 "Intelligent hot reloading"
**Is your feature request related to a problem? Please describe.**
If you are editing text or components, idyll should be able to intelligently re-render a new AST as opposed to reloading the entire page.

**Describe the solution you'd like**
Instead of using "live reload", we should just send a new AST to the client and have it rerender that.

[2020-05-14 22:53] mathisonian opened #640 "Add support for multiple configurations in package.json"
**Is your feature request related to a problem? Please describe.**
It is relatively common to want to have two different idyll configurations, one for local development, and one for your production server.

**Describe the solution you'd like**
There should be a way to specify multiple configurations in the `package.json` file. Something like this could work:

[code]

There would also need to be a

[2020-05-14 22:54] mathisonian commented on #640
This should be added once https://github.com/idyll-lang/idyll/pull/606 is merged because I believe that will make the implementation a bit easier.

[2020-05-15 02:20] mathisonian opened #641 "Rename `Boolean` component to `Checkbox`."
**Is your feature request related to a problem? Please describe.**
The Boolean component is really a checkbox, and it should be referred to as such.

[2020-05-15 02:48] mathisonian opened #643 "The first Step in a scroller component has too much padding above it."
**Describe the bug**
If you use a [Scroller](https://idyll-lang.org/docs/components/default/scroller) component, there is too much padding above the top of the first `[Step  /]`.

The component or CSS should be updated so there isn't so much padding.

[2020-05-15 03:05] mathisonian commented on #346
Okay - small update.

I'm able to get svelte components compiling inside of idyll by using the [sveltify](https://github.com/TehShrike/sveltify) plugin found here to transform them to standard JS at build time. However at this point it still requires that you have a React component that wraps it, for example, I've been using this one:

[code]

As a simple wrapper for svelte components. Note that t

[2020-05-15 07:05] jarmitage commented on #346
Ok, nice work! I wonder if there will be edge cases with such a wrapper, does it seem fairly robust? Happy to test out some different scenarios if you can add this to a branch.

I’m not sure how you’re set up with idyll in terms of plugins and how that impacts maintainability, but maybe this could be encapsulated with a build flag, e.g `—with-svelte`?

[2020-05-15 16:48] mathisonian commented on #346
I've found a couple edge cases but otherwise it seems robust. These are:

- Server side rendering isn't currently supported. I think there's probably a workaround where we can render everything except for the Svelte components ahead of time.
- Nesting isn't supported, and I'm not sure that it can be... I need to think about this one more. For example, normally with Idyll you can do something like

[2020-05-15 16:49] mathisonian commented on #346
The nice thing is that everything else seems to work really well, including all the reactive variable binding.

[2020-05-17 01:27] mathisonian opened #644 "Add introduction to the syntax docs page"
The current syntax page https://idyll-lang.org/docs/syntax on the docs is not very reader friendly, it just dives straight into the content. There should be at least a sentence or two at the top that explains Idyll's relationship to markdown and what you'll learn by reading through the rest of the page.

[2020-05-17 01:30] mathisonian opened #645 "The syntax docs should explain how to use html tags"
A common issue that comes up in the Gitter is that users don't realize you can embed any HTML tag in Idyll, e.g.

[code]

This information should be added to the syntax docs page, possibly under the components section. https://idyll-lang.org/docs/syntax#components

[2020-05-17 01:32] mathisonian opened #646 "Docs should explain how to add classnames and inline styles to components"
The syntax page on the docs should explain how to add CSS classnames, ids, and inline styles to components.

[2020-05-17 01:39] mathisonian opened #647 "Add list of plugins to the plugins docs page"
**Describe the bug**
It should match the list found here: https://github.com/idyll-lang/idyll-plugins/blob/master/README.md

[2020-05-18 02:56] mathisonian opened #648 "Upgrade docs to the latest version of nextjs"
**Is your feature request related to a problem? Please describe.**
The docs are using an old version of nextjs that is generating security warnings and should be updated. There is an automated [pull request](https://github.com/idyll-lang/idyll/pull/623) open for this, but I haven't had time to test it.

A PR or comments on the steps we need to take to upgrade would be very welcome.

[2020-05-18 04:31] #644 closed

[2020-05-18 04:31] #647 closed

[2020-06-07 21:05] joshpoll commented on #346
Disclaimer: I'm not super familiar with the inner workings of either Idyll or Svelte, and just barely familiar with Svelte, so please let me know if this is off base!

I'm wondering if it's possible to rewrite Idyll as an embedded DSL in Svelte. That way Svelte could cleanly take care of all the reactive programming logic, while Idyll could be a nice markdown + default component layer on top. Anot

[2020-06-08 07:36] jarmitage commented on #346
@joshpoll I would be super interested in that!

[2020-06-08 19:21] joshpoll commented on #346
Awesome @jarmitage! I've thought about this a little bit more, and I think the embedded DSL route is very promising. There is a markdown preprocessor for Svelte called [MDsveX](https://github.com/pngwn/mdsvex). That means Svelte + MDsveX could probably handle reactive values and mixed markdown-svelte syntax. (As an added bonus, these mixed components can be easily nested, which I'm not sure is pos

[2020-06-15 20:02] gerudo7 opened #650 "Links in [p] occassionally misbehave"
**Describe the bug**
Links in paragraph blocks point to the wrong place in some cases when text is placed between said paragraph blocks and inconsistent spacing is used.

Specifically, if I use three paragraph blocks, each containing links, and place text between the first two paragraph blocks (with no blank lines between `[/p]` or `[p]` and the text), the links in the third paragraph block functi

[2020-06-15 20:06] gerudo7 commented on #632
I am planning to work on this documentation this week.

[2020-06-15 22:28] mathisonian commented on #650
Thanks for flagging this @gerudo7, it definitely seems like a bug in the link handling logic in the compiler.

Have you noticed if this is only an issue when p-tags are at the top level or does the same thing persist if the tags are nested, e.g.

[code]

[2020-06-15 22:29] mathisonian commented on #632
Thanks @gerudo7! That would be greatly appreciated - feel free to post here if you run into any issues or have questions.

[2020-06-16 00:56] gerudo7 commented on #650
It looks like this still happens when they are nested like this, both when they are all in separate divs and when they are all in the same one.

[2020-06-20 19:49] gerudo7 commented on #632
Where is the best place for the online entry? Of the existing categories in the online documentation, it seems to fit best in "Overview", but I'm not sure if it's too specific to fall there.

[2020-06-22 16:30] mathisonian commented on #632
Maybe the best place to add it would be a new subsection under the Overview, something like "Multipage template" or "Using Idyll for blogging"

<img width="175" alt="Screen Shot 2020-06-22 at 9 29 28 AM" src="https://user-images.githubusercontent.com/1074773/85311840-e0d7e600-b46a-11ea-9236-5f25f43d5f20.png">

[2020-06-30 09:38] RoadrunnerWMC opened #653 "Nested unordered lists don't work"
**Describe the bug**
Nested unordered lists don't seem to work correctly.

**To Reproduce**
[code]

**Expected behavior**
The page should show an unordered list containing items AAA, BBB, CCC, and FFF, and a nested unordered list under item CCC containing items DDD and EEE.

**Screenshots**
Current (incorrect) Idyll output for the above markdown:
![image](https://user-images.githubusercontent.com/

[2020-07-01 15:36] yourealwaysbe opened #655 "Katex in static output"
The Katex CSS does not properly load in the static output of Idyll Equations leading to duplicated equations. It is linked via a malformed URL.

**To Reproduce**
1. idyll create
2. accept defaults to produce a basic article
3. replace index.idyll with a file containing only "[Equation]x = x + 1[/Equation]"
4. run "idyll build"
5. open with "firefox build/index.html"
6. the equation displays twice

[2020-07-01 20:28] mathisonian commented on #655
@yourealwaysbe does changing the URL to explicitly be `https://` solve this problem? If so that's probably the simplest fix but we could alternatively conditionally include it in the CSS bundle that idyll produces.

If we need to update the CSS building logic that is done here https://github.com/idyll-lang/idyll/blob/master/packages/idyll-cli/src/pipeline/css.js#L16-L26

[2020-07-03 20:20] yourealwaysbe commented on #655
Changing the URL fixes it.

Am i right in thinking that the static page output is otherwise self-contained, except the katex CSS link?

[2020-07-06 23:50] mathisonian commented on #655
Yes that's right @yourealwaysbe

[2020-07-11 18:11] gerudo7 commented on #621
I would be interested in working on this documentation this week. My current plan is to discuss use of css, the style section, and inline styles for `div`, `p`, and `span` as well as cover some of the simpler tags (like `[br /]` and `[i][/i]`). Something I've noticed is that certain options (mainly `background-color`) don't work with inline tags, but do work if defined in a class - is this somethi

[2020-07-13 03:59] mathisonian commented on #621
Hey @gerudo7!

That sounds good. Things with dashes like `background-color` get set via a camel case version of the name, so you can write

``[div style:`{backgroundColor: 'blue' }` /]``

[2020-07-13 16:49] gerudo7 commented on #621
Ah, that makes sense, thank you!

[2020-07-26 00:44] tanalan commented on #371
Made some finalizations to this:
https://github.com/tanalan/idyll-react-components-tutorial
Think it seems good to go for this :O

[2020-07-27 15:01] mathisonian commented on #371
Thank you @tanalan!! We're working on some updates to the documentation website and will post a link to this on the next deployment.

I think this is going to be a huge help for people getting started.

[2020-07-27 15:01] #371 closed

[2020-08-06 15:06] jromero2k opened #660 "What's the opposite of progressive enhancement?"
**Describe the bug**

Even after enabling JS, unless the GitHub button, all images, and all fonts are loaded, the website shows a blank page ("uncaught error on promise" or something like it). If there's any network failure, the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable JavaScript or image/font loading
2. See a totally blank page, no indication whatsoever of what requirem

[2020-08-06 16:35] mathisonian commented on #660
Related to https://github.com/idyll-lang/idyll/issues/620. We're deploying a new version of the docs soon which may fix this, but I'll leave it open until that's confirmed.

[2020-08-08 19:05] mathisonian commented on #660
This is fixed in the latest

[2020-08-08 19:05] #660 closed

[2020-08-08 19:05] #620 closed

[2020-08-10 00:49] craigdrayton opened #661 "Errors on /editor page after docs upgrade"
https://idyll-lang.org/editor

[2020-08-10 15:35] mathisonian commented on #661
Thanks for flagging this @craigdrayton. We're in the process of migrating the site and are hitting a few growing pains with it. Will get this fixed ASAP

[2020-08-11 00:36] mathisonian commented on #661
The 500 error is fixed, but I've had to disable the _save_ functionality for the moment. Renaming the issue to cover a slightly broader topic.

[2020-08-11 00:38] #648 closed

[2020-08-11 00:39] #646 closed

[2020-09-04 20:42] JorgeGalindo opened #663 "Build creates incorrect Google Fonts link"
Once you build the project, the index.html pages will feature the following unreadable link:

`<link rel="stylesheet" href="https:&#x2F;&#x2F;fonts.googleapis.com&#x2F;css?family&#x3D;Hanalei+Fill|Lora|Roboto|Roboto+Slab|Rockwell" />`

as a result, the microsite won't be able to find the right fonts. I'm far from an expert but my guess is that it should produce a series of links instead, e.g.:

[c

[2020-09-22 04:57] s3ththompson opened #667 "Allow babelConfig to be extended by user (or support compileLibs everywhere)"
**Is your feature request related to a problem? Please describe.**
I can't build a component that imports an untranspiled ES module from a dependency. [Three](https://github.com/mrdoob/three.js/) notoriously ships its examples (including [OrbitControls](https://threejs.org/docs/#examples/en/controls/OrbitControls), etc.) as untranspiled ESM. It looks like the undocumented `compileLibs` option is r

[2020-09-22 05:03] s3ththompson commented on #667
FWIW, I needed to make this change to `src/node-config` to solve my problem:
[code]
It looks like the problem is made a bit more difficult by the fact that there are two layers of babel transformation happening? Does `babel-register` not respect other babelConfig?

[2020-09-22 23:43] mathisonian commented on #663
Thank you @JorgeGalindo! Does this result in a 404 error occurring with the example link you pasted? I know that Google did support loading multiple fonts from one URL at one point, I'm wondering if the error is due to the fact that the url is garbled, or due to the fact that we're using one link instead of multiple.

Either way, thanks for flagging this and well get a patch in as soon as possible

[2020-09-22 23:43] mathisonian commented on #663
(and thanks for your patience as I'm a little slow responding to issues, dealing with many things on my plate the last few weeks)

[2020-10-08 02:39] kartikpaliwal opened #669 "Installation error: Unexpected end of JSON input while parsing near '...","react-syntax-highl'"
Facing this error while instaling it via npm.
I tried clearning cache too, and reinstalling npm too.

Full Log:
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'install', 'idyll' ]
2 info using npm@6.14.4
3 info using node@v10.19.0
4 verbose npm-session 4d03704f2e1f9b60
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 http fetch GET 200 ht

[2020-11-17 15:23] mathisonian commented on #669
Hi @kartikpaliwal, can you please share your node.js version and OS?

[2020-11-17 15:29] mathisonian opened #670 "404s in docs"
**Describe the bug**
There are a number of 404s occurring since we switched the docs over to the new version of vercel/now.

**To Reproduce**
404ing pages:
- https://idyll-lang.org/docs/advanced-configuration
- https://idyll-lang.org/gallery/stacking-scroller-components

**Expected behavior**
We should add redirects to avoid 404s.

[2020-11-17 20:23] megan-vo opened #671 "Idyll Editor Variable Hoisting Issue"
**Describe the bug**
In the [Idyll Editor](https://idyll-lang.org/editor), inserting a variable between a pre-existing variable tag and a pre-existing non-variable tag seems to not hoist the new variable correctly and doesn't bind to other tags that refer to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://idyll-lang.org/editor
2. Delete all the example text
3. Type in:
[cod

[2020-12-10 05:46] #492 closed

[2021-01-05 16:06] huozhi opened #675 "Invalid markup syntax will lead to crash instead of"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to homepage https://idyll-lang.org/
2. Click on the editable area and start to input `[]()`
3. See error

**Expected behavior**
render `[]()` as text. or maybe just warn user it's not valid

**Screenshots**
N/A

**Desktop (please complete the following information):**

[2021-01-13 18:17] mathisonian commented on #675
Thanks for reporting this @huozhi. We should definitely handle this more gracefully, and not have it blow up the entire website.

If anyone is willing to contribute a patch it would be appreciated! The relevant code for the homepage is here: https://github.com/idyll-lang/idyll/blob/master/packages/idyll-docs/pages/index.js#L140-L145.

[2021-01-13 19:40] mathisonian opened #678 "Replace Travis CI"
We need to replace our travis-ci.org continuous integration scripts because they are shutting down the free open source tier :(

It seems like CircleCI might be a good alternative

[2021-01-15 08:26] rogerfitz commented on #640
Hey I'm starting to work on this. How should it handle multiple configuration files? Say the local config as #606 prioritizes doesn't list dev dependencies but the top level package.json does and dev config was specified via commandline. Is it OK to fail that or should it look for the first valid match when going through priorities? I would think just fail it with an error message like no dev depe

[2021-01-15 15:10] buriedsignals opened #679 "Dependencies issue"
Hi Idyll!

I was unable to install the Idyll package using the npm command, I receive this error log (screenshot also attached) :

npm WARN ERESOLVE overriding peer dependency
npm WARN Found: react@16.14.0
npm WARN node_modules/idyll/node_modules/react
npm WARN   react@"^16.0.0" from idyll@5.0.2
npm WARN   node_modules/idyll
npm WARN     idyll@"*" from the root project
npm WARN   9 more (idyll-com

[2021-01-15 16:43] mathisonian commented on #679
Hey @buriedsignals 👋

It looks like this might be two separate issues...

On the `npm` side, I'm guessing what happened is that you already have a copy of `react@17` globally installed and so things are unhappy when v16 isn't available? The most straightforward fix for this is probably for us to loosen the version requirement there and allow v17 as well, though I think we'll have to make a couple

[2021-01-15 20:44] mathisonian commented on #678
Fixed with Github Actions

[2021-01-15 20:44] #678 closed

[2021-01-15 20:54] mathisonian commented on #640
Awesome @rogerfitz! I think failing that with an error message makes sense, its probably better to make things explicit here rather than pass it through and lead to a potentially unexpected configuration. So say we have the following situations:

[code]

^ in this case no error should be thrown, the `package.json` inside of `idyll-project` should take precedence but anything set in the outer `pack

[2021-01-15 20:56] buriedsignals commented on #679
Hey Matt,

Alright, I hit the wall for about an hour or two trying to remove npm and node_modules entirely, re-installing and still getting the same error log (could not for the life of me install a version below 16.4.0). Glad I focused on yarn instead :)

BUT I went for the following process and got it to work :
1) install idyll globally with yarn, (unable to install dependencies)
2) create the m

[2021-01-15 21:18] mathisonian commented on #679
Alright, I'm glad you got something that's working for the time being. For debugging / reproduction purposes could you share which version nodejs and npm you have installed?

The output of:
[code]

[2021-01-15 22:18] rogerfitz commented on #640
Sounds good! Will go with that

[2021-01-15 23:02] buriedsignals commented on #679
Of course! Here they are :

npm --version
7.4.0
node --version
v15.6.

[2021-01-17 08:27] #679 closed

[2021-01-18 13:57] buriedsignals opened #680 "Invalid arguments on D3 Components"
Hey Matt!

Making good headway and loving Idyll so far. Issuing a bug report as seeing the same error in two scenarios (still not familiar enough with the framework to debug it although I will keep trying), which is preventing me from continuing:

**Scenarios :**
1) after following the steps to create a no-template blog post within a multipage template, when launching the server (from within the p

[2021-01-19 09:30] buriedsignals commented on #680
Fixed if I remove the CustomD3 component, should be completely fixed if I add a .toString() function (will let you know). For now as a heads up if other users are experiencing the issue, prevents me from launching the server and following the steps listed in the documentation on a new blog post. Cheers!

[2021-01-22 11:01] buriedsignals commented on #680
Hey Matt,

I've been running into a wall on this one :( It looks like it is expecting a div component but is getting undefined?

[2021-01-22 11:37] buriedsignals opened #682 "Redirecting to root directory from posts"
Last support request! After which I should be getting close... Got the fonts working with the URL import method.

At the moment any URL strings are appended to the current directory. So if opening the navigation from "root/posts/page_name"(or domain.com/page_name) and clicking on href="/about" I would be redirected to "domain.com/page_name/about". Circumventing this by hardcoding the long URL http

[2021-01-22 15:47] #682 closed

[2021-01-22 15:49] buriedsignals commented on #682
Going for the Jekyll iframing solution so please don't spend any time on this! It seems like the most straightforward option. Tried creating a new template Idyll article and running into the same D3 component error however so leaving that one open :)

[2021-01-23 00:42] mathisonian commented on #680
@buriedsignals I was able to get the post in your example repo to compile locally with the following changes: https://github.com/mathisonian/buriedsignals/commit/24885fdb557539a456daf0b7673c0bb6150556ed

Does that have any effect for you? Steps to test:

- clone [my forked version](https://github.com/mathisonian/buriedsignals/commit/24885fdb557539a456daf0b7673c0bb6150556ed) of the repo
- cd into t

[2021-01-23 07:35] buriedsignals commented on #680
Hey @mathisonian unfortunately still getting the same error. I cloned your version of the repo into a new repository and started fresh to be safe. I also tried creating an article separately and ran into the same error :( At the moment I'm unable tu use Idyll essentially. I did get the blog index / pages up and running on Jekyll last night though, keen to start testing the iframe and begin working

[2021-01-23 07:55] buriedsignals commented on #680
I recorded this, just in case. At the end I get my usual error on installing dependencies, which is fixed if I manually change the react version in package.json and run `yarn install`. I then get the invalid arguments error, fixed when removing the D3 Component.

Not sure what other information I can provide, happy to help any way I can and apologies for the complication here. https://www.loom.com

[2021-01-25 03:23] mathisonian commented on #680
Thanks for the recording @buriedsignals this should be super helpful for debugging. It might take me some time this week to dig into this one...

Could you confirm that if you replace the custom D3 component with a custom React component (e.g. something like https://github.com/idyll-lang/idyll/blob/master/packages/idyll-template-projects/templates/article/components/custom-component.js) the projec

[2021-01-25 08:58] buriedsignals commented on #680
I understand and thank you so much @mathisonian. I am getting the same error when extending it as a React component, glad you asked!

`The "path" argument must be of type string or an instance of Buffer or URL. Received undefined`

Please let me know if there is anything I can do.

[2021-01-26 08:40] rogerfitz commented on #640
Hey sorry for the delay on this. How do I go about running my modified version of idyll cli code? I was following along here https://github.com/idyll-lang/idyll/blob/master/CONTRIBUTING.md#testing-changes but ran into an issue with build not working. Is cli a special package that doesn't need build? Or what's the best way to test?

I can run `cd packages/idyll-cli && yarn link`  but when I go to r

[2021-01-26 19:31] suhr opened #683 "couldn`t convert string f \mathbin⨾ g \in \operatorname{hom}(A, C)"
**Describe the bug**

Idyll fails to render math formulae with `⨾` symbol.

**To Reproduce**
Steps to reproduce the behavior:
1. `[Equation]f \mathbin⨾ g \in \operatorname{hom}(A, C)[/Equation]`

**Expected behavior**

Idyll should show the formula correctly.

**Desktop:**
 - OS: NixOS
 - Browser: Firefox
 - Version: 84.0.2

**Additional context**

KaTeX actually shows this correctly: https://kate

[2021-01-27 04:07] mathisonian commented on #640
@rogerfitz you can do the following to test the local copy when building an idyll post:
- in `packages/idyll-cli && yarn link` (you've already done this it. seems)
- in `my-idyll-post` run `yarn link idyll` to use the linked version of idyll in that directory
- in `my-idyll-post` add `"scripts": { "start": "idyll" }` to `packages.json`
- in `my-idyll-post` run `yarn run start`, this will run the l

[2021-01-27 04:21] mathisonian commented on #683
Will keep this open because it should parse, but does `[Equation latex:"f \mathbin⨾ g \in \operatorname{hom}(A, C)" /]` work as a workaround?

[2021-01-27 04:25] mathisonian commented on #669
I believe the issue is from using node v10. Using 12+ should fix the error

[2021-01-27 04:25] #669 closed

[2021-01-27 04:26] #661 closed

[2021-01-27 04:28] #645 closed

[2021-01-27 04:28] mathisonian commented on #645
https://idyll-lang.org/docs/html-tags

[2021-01-27 04:30] #596 closed

[2021-01-27 04:31] mathisonian commented on #596
Closing this since it isn't a bug in idyll and can be added via a plugin. Please post if anyone ends up building this!

[2021-01-27 08:25] suhr commented on #683
No, unfortunately.

[2021-01-27 08:30] rogerfitz commented on #640
Working thanks!

[2021-01-30 02:33] mathisonian commented on #683
Got it - thanks for reporting @suhr. That leads me to suspect the bug is coming from the compiler rather than the `[Equation]` component. I'll dig into it and report back what i find

[2021-02-06 14:33] aidyp opened #693 "npm install error, EINVALIDTAG"
Hi,

I'm a bit new to react so i'm not 100% sure what the problem is.

When I run `npm install -g idyll` I get,
[code]

I have `npm version=7.5.2` and `node version=15.7.0`

Any hints on where my problem might be?

[2021-02-08 20:23] rogerfitz commented on #640
Any thoughts on how best to create tests for this one? I started by mirroring idyll-cli/basic-projct but I'm not sure how to put everything in one test.js and run multiple command line envs in it. Like test command line arg ``--env prod``.

I've got a base case here and was thinking of changing the idyll object to be a dictionary. https://github.com/rogerfitz/idyll/blob/master/packages/idyll-cli/t

[2021-02-09 19:07] aidyp commented on #693
Nevermind -- it was a bug on my end!

[2021-02-09 19:07] #693 closed

[2021-02-11 18:16] mathisonian commented on #693
Hey @aidyp - would you mind sharing what you did to fix this? I know of at least one other report of a similar error using one node version `15`

[2021-02-12 19:44] mathisonian opened #694 "Issues with Node v15"
**Describe the bug**
It appears that there may be some incompatibilities with node v15. See https://github.com/idyll-lang/idyll/issues/680 and https://github.com/idyll-lang/idyll/issues/693.

I'll keep this issue open to track until we've confirmed a fix. For now the recommended solution is to use [https://github.com/nvm-sh/nvm](https://github.com/nvm-sh/nvm) to install another version (e.g. v14)

[2021-02-12 19:52] mathisonian commented on #640
Hey @rogerfitz-

re: windows, yes it is expected that it should work. We run all of the tests on windows via the CI and ensure that they pass, although most users are not on windows so if there are issue it would be great to report them so we can fix / provide workarounds.

For testing, does it read the environment just from the command line args, or can you pass it in directly to the `Idyll(optio

[2021-02-22 07:38] rogerfitz commented on #640
Thanks that helped a lot. I created a PR and could discuss more of final details there or here.

After this I can take a look at those windows issues more and see if it's more of a me problem or something could use tweaking in install steps. This was the main thing I had to do https://github.com/typicode/husky/issues/749#issuecomment-691531840 On second read it looks like I might be able to fix th

[2021-02-26 21:08] mathisonian commented on #640
I've found the husky hooks to be fairly annoying as well, and occasionally flaky so i end up doing `git push origin <my-branch> --no-verify` to skip. I've been thinking about removing completely - we can discuss on a separate issue

[2021-03-05 19:04] rogerfitz commented on #694
I took a stab at this last night but how do I go about testing `npm install idyll` would work with the branch I'm working on? I got it passing tests with node 15 by upgrading the react-tooltip library. Related issue here https://github.com/npm/cli/issues/1734, `npm install --legacy-peer-deps ..` should work too but the dependency issue was patched in react-tooltip 4.0.1. Creating PR showing what I

[2021-03-05 20:45] mathisonian commented on #694
If you can run `lerna clean && lerna bootstrap` in the root of the project with node15 then it should be okay on the dependency side. However I noticed that there is also an issue creating new projects: running `idyll create` always says that installing dependencies failed, even when it didn't.

A little setup required to test the global command line commands with the local dev version of idyll:

[2021-03-06 06:41] rogerfitz commented on #694
FYI #707 is main PR now

Thanks for these instructions. I was able to get it running but found an issue with yargs and the commandlineArgs library I introduced in idyll-cli. It was saying command "create" not found https://github.com/idyll-lang/idyll/pull/707/commits/386e9cf5d34fed2ce715249d5f0a6fdbf0c8c5a4. Interestingly when I installed idyll 5.3.4 `idyll create` was fine but maybe this is just

[2021-03-08 16:46] aidyp commented on #693
Hi, sorry for the late reply.

I didn't manage to fix it directly, but I re-installed node & npm and then got the same issue as #679

But I'm not familiar enough with npm/node to crack that yet.

[2021-03-08 23:18] mathisonian commented on #694
Thanks @rogerfitz! I merged in #707 to get that `idyll create` fix in. In general the smaller / more tightly scoped a PR is the quicker I'll be able to review and merge but I am flexible and happy to have fixes submitted in any form.

[2021-03-09 21:30] mathisonian commented on #640
Closed in #701 thanks again @rogerfitz!

[2021-03-09 22:55] mathisonian commented on #584
FWIW this already exists as a language feature (you can `npm install some-great-component`) and use it in idyll docs like `[SomeGreatComponent /]`. The change would just be to the syntax.

We could also make this configurable, but that could lead to people sharing idyll docs that are incompatible without also sharing their compiler configuration.

[2021-03-10 06:44] mathisonian opened #711 "React lifecycle warning"
**Describe the bug**
Some components depend on React lifecycle methods that are being deprecated, see this warning:

[code]

**To Reproduce**
Create the default idyll article and look at terminal and JS console.

**Expected behavior**
There are no warnings from React. I believe the `idyll-document` component relies on this method, as well as several components in `idyll-components`, including at l

[2021-03-28 21:56] mathisonian commented on #680
This was fixed by #719. Thanks again for reporting and helping debug @buriedsignals. With this latest fix we are back to being compatible with all recent node versions.

[2021-03-28 21:56] #680 closed

[2021-04-01 14:36] yourealwaysbe opened #723 "Error trying to run getting started example"
**Describe the bug**
When following the "getting started" tutorial, the final "idyll" command crashes with "ERR_INVALID_ARG_TYPE". The "path" argument is undefined.

**To Reproduce**
Steps to reproduce the behavior:
1. Install idyll
2. Run idyll create, accepting the defaults
3. cd my-idyll-posts
4. run idyll

**Expected behavior**
The example page is created.

**Screenshots**
The given output is

[2021-04-01 16:21] mathisonian commented on #723
Thanks for reporting this @yourealwaysbe. I agree it seems related to #680 and the Node 15 issues.

Is there any difference if you start the project by running `npm start` instead of `idyll`? And I assume the issue goes away if you run it under node v14?

[2021-04-01 20:04] johanna-einsiedler commented on #723
Running into the same error - interestingly only for the multipage setup, single blogpost works fine for me.

[2021-04-02 17:23] mathisonian commented on #694
I'm reopening because of reports that this hasn't been completely resolved. See #723

[2021-04-02 18:57] #694 closed

[2021-04-02 19:09] mathisonian commented on #723
Thanks for the reports @johanna-einsiedler @yourealwaysbe. I tracked this down to an issue in [brfs](https://github.com/browserify/brfs/pull/96) and released a patched version. I confirmed that the `article` and `multipage` template are working correctly on node v15 on macos.

The fix is available in `idyll@5.5.2` on npm. When updating make sure to upgrade your global idyll `npm i -g idyll@latest`

[2021-04-02 19:09] #723 closed

[2021-04-02 19:09] #670 closed

[2021-04-02 19:21] #572 closed

[2021-04-03 20:56] johanna-einsiedler commented on #723
Thank you so much - works perfectly now!

[2021-04-06 08:58] yourealwaysbe commented on #723
Works for me too, thanks!

[2021-04-06 10:33] yourealwaysbe opened #725 "Update KaTeX Version"
**Is your feature request related to a problem? Please describe.**
The current version of KaTeX is 0.13.0, Idyll uses 0.9.0. In particular \newcommand and similar is supported in 0.13.0, but does not appear to be supported in 0.9.0. \newcommand is very useful for serious mathematical articles.

**Describe the solution you'd like**
Update to 0.13.0.

**Describe alternatives you've considered**
Coul

[2021-04-07 02:08] mathisonian commented on #725
This makes sense to me. We'd need to edit the CSS file that gets included (https://github.com/idyll-lang/idyll/blob/master/packages/idyll-cli/src/client/_index.html#L36-L41), upgrade the dependency in [idyll-components](https://github.com/idyll-lang/idyll/blob/master/packages/idyll-components/package.json#L50) and make sure the [`Equation` component](https://github.com/idyll-lang/idyll/blob/master

[2021-04-07 02:09] mathisonian commented on #725
I think we should drop `react-latex-patched` in favor of https://www.npmjs.com/package/react-latex since that one seems to be more widely used and up-to-date.

[2021-04-10 15:45] buriedsignals opened #727 "404 Deployment not found"
Hi Matthew, hope you're doing alright! Slowly but surely becoming more familiar with Idyll and excited to continue getting better over time:)

Trying to publish a Scrollytelling post, console is confirming project deployed at https://idyll.pub/post/stella_1-65f57118b1f58a332968bc5f/

However if you open the URL you'll see the issue. "Deployment not found" "vercel.app might be available". Hoping yo

[2021-04-10 18:39] mathisonian commented on #727
Hey @buriedsignals!

I've seen this occasionally happen with names containing special characters that our hosting provider doesn't like. If you follow these steps does it work:

- Change the name of your project in `package.json` from `stella_1` to `stella1`
- Remove the publish token: `rm .idyll/token`
- Re-run the deploy `idyll build && idyll publish`

If that does the trick it would indicate an

[2021-04-11 11:53] buriedsignals commented on #727
Hey @mathisonian thank you that fixed it. Appreciate you sending through a detailed answer so quickly. Have a great Sunday!

[2021-04-13 02:36] mathisonian commented on #727
Glad that took care of it @buriedsignals. I'm going to leave this issue open until we have a better fix available

[2021-04-14 16:15] johanna-einsiedler opened #728 "Graphic Annoations"
**Is your feature request related to a problem? Please describe.**
Not a real problem, but would be nice if there was a possibility to include graphics in annotations.

**Describe the solution you'd like**
A way to include a picture in the annotation component. I.e. if the user hovers over a word that a small picture pops up instead of a text like in the standard annotation component.

[2021-04-15 20:52] mathisonian commented on #728
@jasenlo123 would you be interested in tackling this?

[2021-04-16 03:11] jasenlo123 commented on #728
Thanks for bringing this to my attention @mathisonian.

I'll have time to work on this in the next two weeks @johanna-einsiedler. Cheers!

[2021-04-19 11:29] mrviniciux commented on #675
@mathisonian hello there, I'm checking this issue on component `text-input.js` and I see that there's no validation in onChange event, just a `this.props.updateProps` that I really don't know what it does exactly. But I guess this seems to be normal, since the input will be used in many different situations and patterns right?

I'm new in the idyll universe, so maybe my question here is trivial...

[2021-04-20 22:50] mathisonian commented on #675
Hi @mrviniciux - would you mind clarifying the use case a little bit?

With the `[TextInput /]` component, an author would typically use it by binding a variable to its _value_ property, so that each time a user writes text, it updates the value of the variable:

[code]

which would result in this behavior:

https://user-images.githubusercontent.com/1074773/115473005-c20fc080-a1ef-11eb-9888-a62cc3

[2021-04-24 19:07] mrviniciux commented on #675
@mathisonian thanks for the reply

Well I dig a lot in this issue and found that the main problem is to make `eval(strFunction)` inside markup pages...

i.e:

[code]

So, I was thinking in create some kind of "function variable" that will eval some expression and then returning this expression to itself like a variable. Example:

[code]

Or we can just pass a new prop on `var` to flag if the value

[2021-04-28 03:18] jasenlo123 commented on #728
hi @mathisonian, here's the PR that allows for including graphics in annotations!
https://github.com/idyll-lang/idyll/pull/730

[2021-06-05 10:13] suhr opened #736 "Idyll crashes with JavaScript heap out of memory"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/suhr/prog-math/tree/cat/cat
2. Run `idyll watch`

**Expected behavior**
The document has only 1921 lines, building it should not cause OOM on a machine with 16 GB RAM.

[2021-06-18 19:27] mathisonian commented on #736
Thanks for reporting this @suhr. It seems likely to be a compiler issue, but I I'm trying to track down where the memory issue is coming from. I'll keep this issue open and update as I learn more.

[2021-06-30 23:56] mrviniciux commented on #675
@mathisonian sorry for the delay on this, finally I take some time to get back on board.

I opened a PR as mentioned above and hope that helps. In the next weeks I will stay tuned for your feedback and hope we can do something great about this. See ya!

[2021-07-01 18:16] mrviniciux commented on #517
@mathisonian  I can grab this one, how many examples do you suppose to add to our gallery?

[2021-07-02 18:07] mathisonian commented on #517
That would be great, thanks @mrviniciux!

I'm in favor of being inclusive with what we add to the gallery. I don't have a firm number, just anything that we find where its clear that someone put time and effort in and it is in a reasonably "finished" state. The [dependents](https://github.com/idyll-lang/idyll/network/dependents) network is probably still the best place to look, maybe along with me

[2021-07-06 23:29] mathisonian commented on #728
This is addressed in #730 and available in the latest release. See the updated docs here: https://idyll-lang.org/docs/component/annotation.

The basic usage is updated to:

[code]

[2021-07-06 23:29] #728 closed

[2021-07-07 17:43] #632 closed

[2021-07-22 20:31] megan-vo opened #739 "Update react-table dependency in idyll-components to latest"
The Table component in the ```idyll-components``` package is using react-table v6.11, which will no longer have long term support.

We could update react-table to the latest version as well as the Table component to implement the latest API, since it introduces breaking changes.

[2021-07-30 19:20] mathisonian commented on #517
Closed by #741

[2021-07-30 19:20] #517 closed

[2021-07-30 19:22] mrviniciux commented on #739
I grab this @mathisonian gonna make a feasibility check first.

[2021-07-30 19:56] mathisonian commented on #739
@mrviniciux we just got #740 merged from @megan-vo, so this can be closed now. Now we'll want to upgrade to the latest React across the project so I'll make an issue for that

[2021-07-30 19:56] #739 closed

[2021-07-30 19:59] mathisonian opened #742 "Upgrade to React 17"
**Is your feature request related to a problem? Please describe.**
The project should be upgraded to use React 17 to avoid getting too far behind there.

**Describe the solution you'd like**
We should upgrade the dependencies in all packages that currently depend on React 16. This should require minimal if any changes to the code itself.

We'll want to make sure these paths are still valid for bui

[2021-08-14 23:48] OmarShehata opened #745 "Incorrect link to editor in getting started docs"
In this page:

https://idyll-lang.org/docs/getting-started

The "online editor" link goes to: https://idyll-lang.github.io/editor, which redirects back to: https://idyll-lang.org/docs.

I believe the correct link should be: https://idyll-lang.org/editor

[2021-08-17 18:50] mathisonian commented on #745
Thanks for flagging this @OmarShehata. A fix is incoming via #746

[2021-08-17 18:55] #621 closed

[2021-08-17 19:19] #745 closed

[2021-10-01 22:08] mathisonian opened #748 "Insert em-dashes when there are three hyphns"
**Is your feature request related to a problem? Please describe.**
It is common for CMSs to automatically replace three hyphens (e.g. `---`) with an em-dash (`—`).

**Describe the solution you'd like**
Similar to how Idyll will automatically insert smart quotes, it should also convert hyphens to em-dashes, possibly with an option for users to opt-in/out of this behavior.

This logic should be adde

[2021-11-05 01:58] c4ffein commented on #541
Since Idyll accepts nearly every React component, why not just use https://github.com/Gherciu/react-p5 ?

Once you have `npm i react-p5` (I personally had to use the `--legacy-peer-deps` option), you can just try it in an Idyll post (note that you need to launch Idyll with the `--no-ssr` option as that component uses `window`) :

[code]

[2021-11-05 17:50] mathisonian commented on #541
This seems reasonable to me @c4ffein. If this solution is fairly ergonomic (which it seems like it is, except for the peer-deps/ssr issues) then it is probably more sustainable to rely on a well-maintained third party component.

It could be nice to add a tutorial or other docs walking through this usage, and maybe add a link to the "suggested components" here https://idyll-lang.org/docs/component

[2021-11-13 11:58] vilim opened #752 "Idyll does not build (Node 16 issue?)"
**Describe the bug**
Compiling a new project fails with error
[code]
I got Idyll to run once, but I think the node.js version was different then (12.x)

**To Reproduce**
Steps to reproduce the behavior:
1. Follow install and new project instructions from the idyll docs
2. run the `idyll` command in the newly-created project
the build error occurs

**Desktop (please complete the following informati

[2021-11-14 18:24] mathisonian commented on #752
@vilim thanks for reporting this - I am able to reproduce this locally and can confirm its a bug. It affects at least node v14 as well, so it may not be a node version issue. I'm going to dig into this and will update with possible fixes / workarounds as I learn more.

[2021-11-14 20:37] mathisonian commented on #752
This seems to be an issue with `scrollmonitor@1.2.7` specifically. Here's a workaround until I can get a patch released:

[code]

Basically just pin scrollmonitor to the older release and everything should build fine

[2021-11-14 21:10] vilim commented on #752
Thank you!

[2021-11-14 21:26] #752 closed

[2021-11-14 21:32] mathisonian commented on #752
No problem! This should be fixed in the latest release of Idyll (`idyll@5.7.3` just released on npm) with no workaround needed. Feel free to re-open if you continue to have issues.

[2021-11-14 21:38] vilim opened #754 "Upgrade D3 dependency"
Most d3 documentation available online is on newer versions of D3 (currently at 7.1), while the one bundled with Idyll is 4.0 (the changes I noticed concerned handling interactions like `.drag` though I am sure there are many more). Trying to upgrade d3 only via npm results in an error on building the document:

[code]
Changing the `require` to `import` however results in the d3 code not working a

[2021-11-15 10:18] vilim commented on #754
It turns out not to be high-priority as D3 version 6 works nicely and the documentation is valid for this version.

[2021-11-16 17:50] mathisonian commented on #754
Thanks for flagging @vilim - using v6 is recommended for now and I've opened a PR to use that version by default instead of the rather old v4 that is being used now.

v7 support requires a slightly bigger change to support ES modules - this is in the works but I don't expect it to be finished until sometime in January. I'll leave this open until then.

[2021-11-17 14:56] FrancoRivera opened #756 "Docs website error with JS enabled"
**Describe the bug**
When accessing https://idyll-lang.org/docs with JS enabled, the following message appears:
[code]
---
In console:
[code]

No issues when disabling JS

**To Reproduce**
Steps to reproduce the behavior:
1. Enable JS
2. Go to https://idyll-lang.org/docs
3. Message appears

**Expected behavior**
Docs should be rendered

**Desktop:**
 - OS: MacOS Big Sur
 - Browser: Chrome (96), Fi

[2021-11-17 15:11] vilim commented on #756
I experienced the same

[2021-11-17 17:11] mathisonian commented on #756
I just pushed a patch in #757, docs should be back working now. Sorry for the inconvenience and thanks for reporting the issue!

[2021-11-17 17:11] #756 closed

[2021-12-07 19:41] aborruso opened #759 "Automatic reload running idyll in WSL: it seems not work"
**Describe the bug**
Hi, I'm using idyll in windows subsystem for linux. If I modify `index.idyll` and save it, and then reload `http://localhost:3000/`, I do not have the variations in the browser.

**To Reproduce**
Steps to reproduce the behavior:
1. install idyll on WSL
2. create a project,
3. run idyll and wait for the browser,
4. edit the index file and reload the browser

**Expected behavior

[2021-12-07 20:14] mathisonian commented on #759
Thanks for reporting this @aborruso. Can you confirm that things re-compile as expected if you stop and restart the idyll command after making a change?

I can take a look on WSL later this week; idyll should also work outside of WSL in the standard windows shell

[2021-12-07 23:35] aborruso commented on #759
If I stop and restart, things recompile properly.

Thank you very much

[2021-12-21 06:32] mathisonian commented on #759
Hi @aborruso - sorry I haven't been able to take a proper look at this yet. If you are able would you be willing to help debug? The errant behavior is likely somewhere in this code https://github.com/idyll-lang/idyll/blob/master/packages/idyll-cli/src/index.js#L215-L237

Likely either (i) a file path is being improperly constructed and so changes aren't properly triggering a rebuild or (ii) the pa

[2021-12-21 08:47] aborruso commented on #759
thank you @mathisonian I hope to be able to do it ;)

[2022-01-13 23:52] #389 closed

[2022-01-13 23:57] mathisonian commented on #742
Closed in #762

[2022-01-13 23:57] #742 closed

[2022-03-11 17:29] mathisonian commented on #754
Working on a solution in https://github.com/idyll-lang/idyll/pull/764

[2022-03-17 22:42] mathisonian commented on #736
Fixed in #769; this will be available in the next release to npm

[2022-03-17 22:42] #736 closed

[2022-03-22 23:16] mathisonian opened #773 "SSR option doesn't work if specified in `package.json`"
**Describe the bug**
The `ssr` option is used to tell Idyll if it should render a static-HTML version of the article or not. This option works if invoked from the command line, but not if specified in the `idyll` field in a package.json file.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `"ssr": false` to the `idyll` field in package.json
2. Run `idyll`
3. The page opens with HTML pre-

[2022-03-23 21:53] #773 closed

[2022-04-06 15:32] kayavila opened #779 "Babel/d3-array incompatibility issue in new Windows installs"
There seems to be an issue with babel/d3-array in fresh Windows installs.  After creating an idyll article (and probably other types), trying to run idyll results in an unhandled error.  This not an issue with idyll itself per se but may be impacting idyll users.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install node.js from https://nodejs.org/en/download/
2. Open a Node.j

[2022-04-06 17:52] mathisonian commented on #779
Thanks for flagging this @kayavila. Can you confirm which version of node you are using, and that you are doing this directly from the windows shell (i.e. not using the windows linux subsystem)?

We have an open PR which should be merged in the next week that I believe will fix this, https://github.com/idyll-lang/idyll/pull/764, however it needs a bit of additional testing before we deploy it. If

[2022-04-06 18:51] kayavila commented on #779
That's great that a fix is already in the works.  I'd love to help with a patch sooner but unfortunately am a novice in this arena.

Yes, this is in the Windows shell, not subsystem, and it's node version 16.14.2.

[2022-04-06 21:53] mathisonian commented on #779
Okay, thanks for that info. I can merge that PR and cut an alpha release on Friday which should solve your issue as it upgrades to support the latest versions of D3 + Babel.

I'll post upgrade instructions here once that's done.

[2022-04-08 22:28] #629 closed

[2022-04-09 21:47] mathisonian commented on #779
Hi @kayavila,

A new alpha version has been released which should hopefully fix this issue. To use it, you need to install the latest idyll version, and use it to create a new article:

- `npm install -g idyll@idyll@6.0.0-alpha.4`
- `idyll create`
- `cd <post-name>`
- `idyll`

Please let me know if you still run into issues.

[2022-04-09 23:22] kayavila commented on #779
Working much better!  Thank you for the quick fix.

[2022-04-15 16:36] mathisonian commented on #754
This is fixed in the latest version of idyll, currently released as an alpha version on npm `idyll@6.0.0-alpha.5`

[2022-04-15 16:36] #754 closed

[2022-04-18 22:45] mrviniciux commented on #727
@mathisonian could you assign this to me?

[2022-04-18 23:57] mathisonian commented on #727
You got it @mrviniciux. A PR is very welcome here - I think the most straightforward approach will be to sanitize the project name in the [publish command](https://github.com/idyll-lang/idyll/blob/master/packages/idyll-cli/bin/cmds/publish.js).

[2022-07-08 05:26] jimidle opened #788 "Add support for Typescript based React components"
**Is your feature request related to a problem? Please describe.**
Many graphical components are now written using typescript .tsx, and it can be awkward to create components that interface to them from .js - though I admit that a better React programmer than I am may find that to be fairly trivial.

**Describe the solution you'd like**
Add support for components written in Typescript, with a few

[2022-07-09 04:23] jimidle commented on #748
I was going to have a go at this Matthew, but it seems that post.js is no longer in existence. I will read through the source of the compiler and see if I can make sense of the change logs etc. But if you have time to update the information about this issue, then it make make things a little quicker.

[2022-07-09 16:12] mathisonian commented on #748
Thanks @jimidle! Yes - implementing this via a plugin makes sense, I just edited the issue to reflect the recent changes

[2022-07-09 16:33] mathisonian commented on #788
Agreed this would be a nice thing to support. Under the hood Idyll uses esbuild, which does have [support for loading typescript files](https://esbuild.github.io/content-types/#typescript). I believe we would need to update our component resolution logic to accept `.ts` or `.tsx` files (see [here](https://github.com/idyll-lang/idyll/blob/master/packages/idyll-cli/src/resolvers/components.js#L99-L1

[2022-07-12 07:00] jimidle commented on #788
I have this working now, after some wrangling to work out what the flow through `babel` to `esbuild` is. However, in `parse.js` there is an `exports.getHTML = ...` that `trys` a `require` on each of the files in the `.idyll/components/0` and trys an `await import` if that fails. The file that is in the temporary components directory is the `.tsx` file, which cannot be imported of course.

Now, I a

[2022-07-12 07:06] jimidle opened #790 "Update the component dependencies and re test?"
**Is your feature request related to a problem? Please describe.**
While tackling a few issues in this list, I realize that the various components have a few dependencies that might be worth updating:

1. The projects _seem_ to be a little out of sync in that they are using slightly different versions in some cases - that could be me misreading things though.
2. Some dependencies are many major ve

[2022-07-12 08:41] jimidle commented on #788
I have completed this work, but I cannot create a new pull request because the pull request for #748 requires merging first. Perhaps moving to use git flow as system would help with this. I guess that I should have done this myself.

I don't want to cancel the existing pull request and create a new one because then the PR will cover two features, which is not correct.

I will await your approval o

[2022-07-15 18:49] mathisonian commented on #790
I think this would be good to do. There are some `idyll-cli` test repos that I know use quite out of data libraries. I think it would make sense to modernize these as well, although it will require some work to update the expected output for the tests. I can help with that.

With React I think we can upgrade to the latest although there may be some places where components depend on react lifecycle

[2022-07-16 05:02] jimidle commented on #788
No worries - when I take advantage of someone else's good work, I think it is only polite to give a little bit back.

[2022-07-16 05:09] jimidle commented on #790
OK Matthew - I will take a stab at this. As you are clearly aware, sometimes it is not see easy to upgrade "everything" - so I will try to do this in smaller steps than one huge PR

[2022-07-19 20:49] jwilber commented on #346
Just checking in to see if there’s been any update on this/development of a svelte-with-idyll (can’t seem to find anything)?

[2022-07-19 23:40] joshpoll commented on #346
Hey @jwilber. Matt and I discussed this further offline, but we're both busy with other things at the moment so I'm not sure we'll be able to work on this any time soon.

I looked through my email and found a snippet I wrote to Matt, which I've copied below. I made a very small proof of concept at the time, but set the repo to private. I just made it public so hopefully someone can pick this up if

[2022-07-20 23:02] jwilber commented on #346
Great, thanks a lot Josh! I'll have a look at this

[2022-07-23 19:01] ashwan1 opened #791 "Error while building post in multipage setup"
**Describe the bug**
In multipage setup, when I build a post, I get following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '<root_folder/posts/post-1'
2. Run `idyll build`
3. See error

**Expected behavior**
Should build without any errors

**Desktop:**
 - OS: Windows 11

[2022-08-07 15:41] ashwan1 opened #792 "Support for google analytics 4"
Currently analytics component only support google universal analytics.

Need to add component for google analytics 4.

I can create pull request if this feature is approved.

[2022-08-07 17:43] mathisonian commented on #792
I'd be happy to merge a PR on this, thanks @ashwan1

[2022-08-08 07:46] ashwan1 commented on #792
@mathisonian How can I view documentation on my local to make sure they look good. Currently I am getting this error:
![image](https://user-images.githubusercontent.com/25479695/183366425-bea05f4a-bb1f-428d-8315-44b3513f6b3d.png)

[2022-08-08 08:39] ashwan1 commented on #792
@mathisonian [Pull request](https://github.com/idyll-lang/idyll/pull/793) created.

[2022-11-25 05:41] joshuahhh opened #795 "Idyll runs component code in Node, causing crashes"
It looks like Idyll actually `require`s component modules, thereby running top-level code from these modules in Node. The problem I've run into from this is that if a component refers to `window` or `document` in its top-level code, Idyll crashes because these are not defined in Node.

(Similarly, you run into trouble if you use modern JS features found in browsers but not in Node.)

I'm not sure

[2022-11-26 00:34] joshuahhh commented on #795
Ok, turns out that `--no-ssr` together with upgrading to the latest version of Idyll fixes this. I guess it's reasonable that SSR requires running component code in Node. Maybe an extra-careful SSR approach would catch Node errors when loading a component and suppress SSR for that component? But I'm much more in shape now!

[2022-11-26 00:34] #795 closed, assigned to nobody